{% extends "/layouts/_calendar.njk" %}

{% set pageTitle= "About the Accessibility Advent Calendar" %}
{% block calendar %}

    <p class="govuk-body">
      This resource was created as a festive training opportunity to help teach people about accessibility. It was built using an adapted version of the GOV.UK Prototype kit. </p>
      <p class="govuk-body">  If you would like to contribute join the <a href="https://github.com/Lori-T/accessibility-advent-calendar.git" class="govuk-link">Github repositiory</a> </p>

    <h2 class="govuk-heading-m">Contributors</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>Lori Thomson</li>
      <li>Vicky Teinaki</li>
      
    </ul>




{% endblock %}


{%  block sidebar %}

<aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
  <h2 class="govuk-heading-m" id="subsection-title">
   Contributers
  </h2>
    <ul class="govuk-list govuk-!-font-size-16">
        <ul class="govuk-list govuk-list--bullet">
            <li>Lori Thomson</li>
            <li>Vicky Teinaki</li>
            
          </ul>
      
</aside>

{% endblock %}
