{% extends "/layouts/_calendar.njk" %}

{% set pageTitle= "About the Accessibility Advent Calendar" %}
{% block calendar %}

    <p class="govuk-body">
      This resource was created by <a href="https://www.linkedin.com/in/lori1234/" class="govuk-link">Lori Thomson</a></li> as a festive training opportunity to help teach people about accessibility. It was built using an adapted version of the GOV.UK Prototype kit and takes inspiration from a variety of accessibility resources.</p>
      <p class="govuk-body">If you would like to contribute join the <a href="https://github.com/Lori-T/accessibility-advent-calendar.git" class="govuk-link">Github repositiory</a> or <a href="mailto:lorithomson@hotmail.co.uk">get in touch by email.</a></p>

  

{% endblock %}


{%  block sidebar %}

<aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
  <h2 class="govuk-heading-m" id="subsection-title">
   Contributers
  </h2>
    <ul class="govuk-list govuk-!-font-size-16">
        <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://www.vickyteinaki.com/" class="govuk-link">Vicky Teinaki</a> for help with code and review and for <a href="/advent-calendar/day-22" class="govuk-link">day 22</a></li>
            <li><a href="https://www.linkedin.com/in/samantha-merrett/" class="govuk-link">Samantha Merrett</a> for <a href="/advent-calendar/day-6" class="govuk-link">day 6</a></li>
            <li><a href="https://www.linkedin.com/in/lauramarieparker/" class="govuk-link">Laura Parker</a> for <a href="/advent-calendar/day-9" class="govuk-link">day 9</a></li>
            <li><a href="mailto:polly.dyson@faststream.civilservice.gov.uk" class="govuk-link">Polly Dyson</a> for <a href="/advent-calendar/day-14" class="govuk-link">day 14</a></li>
          <li><a href="https://www.linkedin.com/in/catherine-mcgowan-bb181096/" class="govuk-link">Catherine McGowan</a> for <a href="/advent-calendar/day-15" class="govuk-link">day 15</a></li>
          <li><a href="https://www.linkedin.com/in/helen-gaskell/" class="govuk=link">Helen Gaskell</a> for <a href="/advent-calendar/day-16" class="govuk-link">day 16</a></li>
          <li><a href="https://www.linkedin.com/in/arhick/" class="govuk-link">Andrew Hick</a> for <a href="/advent-calendar/day-17" class="govuk-link">day 17</a></li>
          <li><a href="https://sarajoy.dev/" class="govuk-link">Sara Joy </a> for <a href="/advent-calendar/day-18" class="govuk-link">day 18</a></li>
          <li><a href="https://www.linkedin.com/in/priyanca-ux/" class="govuk-link">Priyanca D’Souza</a> for <a href="/advent-calendar/day-24" class="govuk-link">day 24</a></li>
        </ul>
      
</aside>

{% endblock %}
