{% extends "/layouts/layout.html" %}

{% block content %}
<main id="main-content" class="govuk-main-wrapper" role="main">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="/index" class="govuk-back-link">Back to calendar</a>

    <h1 class="govuk-heading-xl">Day 8: Color Contrast for Everyone</h1>

    <p class="govuk-body">
      Poor color contrast makes text hard to read, even for users without visual impairments.
 
Encourage using online tools to check contrast ratios.
link to colour contast analyser/checker tools
    </p>

  </div>
</div>

</main>
{% endblock %}
