{% extends "/layouts/layout.html" %}

{% block content %}
<main id="main-content" class="govuk-main-wrapper" role="main">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="/index" class="govuk-back-link">Back to calendar</a>

    <h1 class="govuk-heading-xl">Day 9: Accessible Forms Are Inclusive Forms</h1>

    <p class="govuk-body">
      clear labels, instructions, and error messages are critical.
 
Encourage testing forms with assistive technologies.
Link to the forms resource 
    </p>

  </div>
</div>

</main>
{% endblock %}
