{% extends "/layouts/_calendar.njk" %}

{% set pageTitle = "Day 10: Screen reader accessibility" %}

{% block calendar %}

  <p class="govuk-body">
    Screen readers are essential assistive technologies for people who are blind, partially sighted, or have cognitive disabilities. They are also often used to listen to documents rather than read them, particularly if the content is long. They convert on-screen content into speech or Braille, allowing users to navigate websites and applications independently.
  </p>

  <h2 class="govuk-heading-m">Why screen reader accessibility matters</h2>
  <p class="govuk-body">
    Screen reader users rely on websites that are well-structured and designed with accessibility in mind. Without proper support, users may face barriers navigating or understanding digital content, which can exclude them from accessing important information or services.
  </p>

  <h2 class="govuk-heading-m">Types of screen readers</h2>
  <p class="govuk-body">
  There are several types of screen readers which can be used for both desktop/laptop and mobile devices. Some, particularly for mobile devices are already built in and free to use and others are paid for software. These include:</p>
<p class="govuk-body>Desktop screen readers</p>
<ul class"govuk-list--bullet">
<li><a href="https://www.freedomscientific.com/products/software/jaws/" class="govuk-link">JAWS</a> (not free to use)</li>
<li><a href="https://www.nvaccess.org/about-nvda/" class="govuk-link">NVDA</a> (free to use)</li>
<li><a href="https://support.microsoft.com/en-gb/windows/complete-guide-to-narrator-e4397a0d-ef4f-b386-d8ae-c172f109bdb1" class="govuk-link">Windows Narrator</a> (free to use)</li>
<li><a href="https://support.apple.com/en-gb/guide/voiceover/welcome/mac" class="govuk-link">Mac Voiceover</a> (free to use)</li>
</ul>
<p class="govuk-body">Mobile screen readers screen readers</p>
<ul class"govuk-list--bullet">
    <li><a href="https://support.apple.com/en-gb/guide/iphone/iphe4ee74be8/ios" class="govuk-link">iOS Voiceover (Apple)</a> (not free to use)</li>
    <li><a href="https://support.google.com/accessibility/android/answer/6283677?hl=en" class="govuk-link">TalkBack (Android)</a> (free to use)</li>
    </ul>
  <h2 class="govuk-heading-m">Top tips for screen reader accessibility</h2>
  <p class="govuk-body">
   Screen readers, and other types of assistive technology only work effectively when websites and services are created in an accessible way and using accessible code and structure. Here are practical steps to improve accessibility for screen reader users:
  </p>

  <ul class="govuk-list govuk-list--bullet">
    <li>use semantic HTML, stick to standard HTML elements such as <code>nav</code>, <code>main</code>, and <code>header</code>. Properly structure your headings with <code>h1</code>, <code>h2</code>, and so on, in a logical order.</li>
    <li>add meaningful alt text, use descriptive alt text for images to convey their purpose or content. For example, <code>alt="A user logging into their account on a mobile phone."</code> For decorative images, use <code>alt=""</code>.</li>
    <li>label buttons and links clearly, avoid ambiguous labels like "Click here" or "Learn more." Instead, use descriptive phrases such as "Read about our accessibility improvements."</li>
    <li>provide skip links, include a "Skip to content" link at the top of your page to allow users to bypass repetitive navigation and go directly to the main content.</li>
    <li>Ensure keyboard operability, check that all interactive elements, such as buttons and forms, are usable with a keyboard alone.</li>
  </ul>

  <h2 class="govuk-heading-m">Example: clear alt text</h2>
  <p class="govuk-body">
    If your website includes an image of Santa about to enjoy some milk and cookies, an appropriate alt text would be:
  </p>
  <pre class="app-code">
    <img src="{{asset_path}}images/santacookie.jpg" padding="10px" class="responsive-image" alt="Santa's hands lifting a cookie and a glass of milk from a table"> 
    <code> alt="Santa's hands lifting a cookie and a glass of milk from a table"</code>
  </pre>

  <h2 class="govuk-heading-m">Testing your website</h2>
  <p class="govuk-body">
    You should regularly test your website with screen readers to you understand how your content is announced and ensures that navigation flows logically. Many screen reader users navigate websites using a keyboard rather than a mouse, when testing with mobile devices you can also connect external keyboards to help you test.  When testing you should check:
  </p>

   <ul class="govuk-list govuk-list--bullet">
  <li>you can access all information on the page, site or application</li>
<li>read every element and header</li>
<li>navigate through every link using the tab key on your keyboard, if links open in a new window or tab, check this is annouced by the screen reader</li>
<li>check every landmark, such as the footer, navigation and main sections</li>
<li>check use of Accessible Rich Internet Applications (ARIA) and check if it works and has been used appropriately</li>
<li>check you can complete all editable fields, like text input fields, checkboxes and radio buttons</li>
<li>check that you can access all buttons and activate them</li>
<li>make sure that error messages, warnings, changes in context or submissions are annouced appropriately</li>
   </ul>
  <h2 class="gov-uk-heading-m">Understanding Assistive Technology: Desktop Screen Readers</h2>
  <p class="govuk-body">Watch the video from Level Access on understanding desktop screen readers</p>
  <iframe class="video" src="https://www.youtube.com/embed/Hp8dAkHQ9O0?si=Hmx8HyypNWTabKCn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<p class="govuk-body">Watch the video from Level Access on understanding mobile screen readers</p>
 <iframe class="video" src="https://www.youtube.com/embed/nw6-eDJXWzY?si=nbaHHH1q4DNQdz-t" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  <div class="govuk-inset-text">
    Making your website accessible for screen reader users is an essential step towards creating an inclusive digital experience for all.
  </div>

{% endblock %}

{% block sidebar %}
<aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
  <h2 class="govuk-heading-m" id="subsection-title">Useful links</h2>
  <nav role="navigation" aria-labelledby="subsection-title">
    <ul class="govuk-list govuk-!-font-size-16">
      <li>
        <a href="https://www.gov.uk/service-manual/helping-people-to-use-your-service/creating-accessible-html" class="govuk-link">
          GOV.UK: Creating accessible HTML
        </a>
      </li>
      <li>
        <a href="https://webaim.org/techniques/screenreader/" class="govuk-link">
          WebAIM: Screen reader accessibility
        </a>
      </li>
      <li>
        <a href="https://webaim.org/articles/jaws/" class="govuk-link">
          WebAIM - Using JAWS to evaluate web accessibility
        </a>
      </li>
      <li>
        <a href="https://webaim.org/articles/nvda/" class="govuk-link">
          WebAIM - Using NVDA to evaluate web accessibility
        </a>
      </li>
      <li>
        <a href="https://webaim.org/articles/voiceover/" class="govuk-link">
          WebAIM - Using VoiceOver to evaluate web accessibility
        </a>
      </li>
      <li>
        <a href="https://webaim.org/articles/talkback/" class="govuk-link">
          WebAIM - Using TalkBack to evaluate web accessibility
        </a>
      </li>    
 

    </ul>
  </nav>
</aside>
{% endblock %}
