{% extends "/layouts/_calendar.njk" %}

{% set pageTitle= "Day 6: Creating accessible Word documents" %}

{% block calendar %}
<p class="govuk-body">
  Word documents are a common format for sharing information, ensuring they are accessible is crucial for making your content available to everyone, including people with disabilities who may rely on assistive technologies such as screen readers or magnifiers to navigate. </p>
<p class="govuk-body">  Today, <a href="https://www.linkedin.com/in/samantha-merrett/" class="govuk-link">Accessible Document Specialist, Samantha Merrett</a>, share's her top tips for creating accessible Word documents.
</p>
<p class="govuk-body"> You can also sign up to join the <a href="https://www.linkedin.com/groups/13091924/" class="govuk-link">cross government accessible documents community of practice</a>, to find out more. 
</p>
<h2 class="govuk-heading-m">10 tips for creating accessible Word documents</h2>

<h3 class="govuk-heading-s">1. Use structured headings</h3>
<p class="govuk-body">
  Use the built-in heading styles in the styles pane in Word to structure your document. This helps screen readers navigate the content more easily and helps you to create an interactive table of contents. Ensure that headings are used in a logical order, starting with Heading 1 for main sections and using Heading 2, Heading 3 for subsections. Rather than pressing the enter key to create spacing, use the line spacing options instead so the spaces aren't read out as 'blank'</p>
  <div style="padding: 20px;"><img src="{{asset_path}}images/wordheadings.png" class="responsive-image" alt="screenshot of Microsoft Word showing how to set headings in the styles pane"></div>
<h3 class="govuk-heading-s">2. Add alternative text to images</h3>
<p class="govuk-body">
  Always add alternative text (alt text) to images, charts, and other visual elements. This allows screen readers to describe the content of the images to users who cannot see them. To add alt text, right-click on the image, select "edit alt text," and provide a brief description. 
</p>
<div style="padding: 20px;"><img src="{{asset_path}}images/snowmanalt.png" class="responsive-image" alt="Screenshot of Microsoft word showing how to set alt text on an image of a snowman"></div>
<h3 class="govuk-heading-s">3. Write descriptive links</h3>
<p class="govuk-body">
  Instead of using generic phrases like "click here," use descriptive text for hyperlinks that indicates the destination or purpose of the link. For example, "Read our accessibility guidelines" is more informative than "click here".</p>

<h3 class="govuk-heading-s">4. Ensure color contrast is sufficient</h3>
<p class="govuk-body">
  Make sure there is enough contrast between the text and the background colour. This helps people with visual impairments read the content more easily. You can use online tools such as the <a href="https://webaim.org/resources/contrastchecker/" class="govuk-link">WebAIM Colour Contrast Checker</a> to check your contrast ratios. 
</p>

<h3 class="govuk-heading-s">5. Use accessible fonts</h3>
<p class="govuk-body">
  Choose fonts that are easy to read, such as Arial, Calibri, Helvetica and Verdana. Ensure that the font size is at least 12 points but consider using 14 points for better readability. </p>

<h3 class="govuk-heading-s">6. Use accessible tables</h3>
<p class="govuk-body">
  When using tables, keep them simple and avoid merging or splitting cells. Use table headers to identify column headings, ensure that the table is structured logically and set the title in the alt text settings. This helps screen readers interpret the table correctly and make the document easier to navigate with speech recognition.</p>
  <div style="padding: 20px;"><img src="{{asset_path}}images/wordtables.png" class="responsive-image" alt="Screenshot of Microsoft word showing how to set table properties for a table about festive films. The table content is not important to this article."></div>

<h3 class="govuk-heading-s">7. Check accessibility with the built-in assistant</h3>
<p class="govuk-body">
  Word has a built-in Accessibility Assistant that can help you identify and fix accessibility issues. To use it, go to the "Review" tab and select "Check Accessibility." The tool will provide a list of issues and suggestions for how to resolve them.</p>
  <div style="padding: 20px;"><img src="{{asset_path}}images/wordaccessibilityassistant.png" class="responsive-image" alt="Screenshot of Microsoft word accessibility assistant in action showing no issues on a festive document. The content of the document shown is not important to this article."></div>

  <h3 class="govuk-heading-s">8.	Use lists for organisation</h3>
<p class="govuk-body">
  Use bulleted or numbered lists to organise information clearly. This helps screen readers convey the structure of the content to users. </p>

<h3 class="govuk-heading-s">9. Avoid using watermarks</h3>
<p class="govuk-body">
  Watermarks can be difficult for screen readers to interpret and may obscure the readability of the text. If you must use a watermark, ensure that it does not interfere with the document's accessibility. </p>

<h3 class="govuk-heading-s">10. Avoid putting important information into headers and footers</h3>
<p class="govuk-body">
  Headers and Footers are not accessible to screen readers so avoid putting important information into them. Place the content in the body content of the page instead. </p>

<p class="govuk-body">By following these tips, you can create Word documents that are accessible to a wider audience, ensuring that everyone can read and understand your content. Next time you create a Word document, ask yourself:</p>

<div class="govuk-inset-text">
  <ul class="govuk-list govuk-list--bullet">
    <li>have I used heading styles to structure my document?</li>
    <li>does every image have meaningful alt text?</li>
    <li>is the text readable with sufficient color contrast?</li>
    <li>are my links descriptive and clear?</li>
    <li>have I run the accessibility checker?</li>
  </ul>
</div>

<h2 class="govuk-heading-m">Making documents accessible - Microsoft</h2>
<p class="gov-body">Watch the video from Microsoft on making documents accessible using Microsoft Office accessibility features</p>
<iframe class="video" src="https://www.youtube.com/embed/aF9iHaIR0yE?si=cCPzKd6xs7qHE8Pf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

{% endblock %}

{% block sidebar %}
<aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
  <h2 class="govuk-heading-m" id="subsection-title">Useful links</h2>
  <nav role="navigation" aria-labelledby="subsection-title">
    <ul class="govuk-list govuk-!-font-size-16">
      <li>
        <a href="https://support.microsoft.com/en-us/office/make-your-word-documents-accessible-to-people-with-disabilities-d9bf3683-87ac-47ea-b91a-78dcacb3c66d" class="govuk-link">
          Microsoft’s guide to accessible Word documents
        </a>
      </li>
      <li>
        <a href="https://webaim.org/techniques/word/" class="govuk-link">
          WebAIM: creating accessible Word documents
        </a>
      </li>
      <li><a href="https://abilitynet.org.uk/factsheets/creating-accessible-documents-0">AbilityNet factsheet - creating accessible documents</a></li>
      <li>
        <a href="https://finnberrys.co.uk/Blog/blog-30-word-accessibility.html" class="govuk-link">
          Word Accessibility blog - Nicki Berry
        </a>
      </li>
      <li>
        <a href="https://accessibility.blog.gov.uk/2024/12/06/2024-festive-accessibility-quiz/" class="govuk-link">
          Festive accessibility quiz on the accessibility in government blog - Samantha Merret and Kelly Clarkson</a>
      </li>
    </ul>
  </nav>
</aside>
{% endblock %}
