{% extends "/layouts/layout.html" %}

{% block content %}
<main id="main-content" class="govuk-main-wrapper" role="main">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="/index" class="govuk-back-link">Back to calendar</a>

    <h1 class="govuk-heading-xl">Day 25: Accessibility is for everyone</h1>

    <p class="govuk-body">
     Accessibility is for everyone and is everyone's responsibilitiy.
	 Using the tips you've found over the last month you should be well on your way to becoming an accessibility champion. 
	 Add download link/code to 'Accessibility Advent Champion' badge (or something like that)
    </p>

  </div>
</div>

</main>
{% endblock %}
