{% extends "/layouts/_calendar.njk" %}

{% set pageTitle = "Day 11: Keyboard accessibility" %}

{% block calendar %}

  <p class="govuk-body">
    Keyboard accessibility ensures that everyone, including users who rely on assistive technologies or cannot use a mouse, can interact with your website or application. This is vital for people with motor impairments, people who use screen readers, have temporary injuries, or those who simply prefer using a keyboard.
  </p>

  <h2 class="govuk-heading-m">Why keyboard accessibility matters</h2>
  <p class="govuk-body">
    Websites and applications should be fully navigable using only a keyboard. This allows users to perform all essential actions, like filling out forms, navigating menus, and submitting information, without relying on a mouse or touchpad.
  </p>

  <h2 class="govuk-heading-m">Common keyboard accessibility issues</h2>
  <ul class="govuk-list govuk-list--bullet">
    <li>if interactive components like buttons, links, and form fields are not focusable or operable using a keyboard then they become unreachable and innaccessible to people using a keyboard</li>
    <li>if focus moves in an illogical or confusing order, it makes it difficult for users to navigate</li>
    <li>keyboard traps, where users get stuck and can't move past or go back elements on a website or service</li>
    <li>if no focus indicators, or badly implemented focus indicators have been used. then keyboard users can't see which element is currently focused and can leave them unsure of their position on the page</li>
  </ul>

  <h2 class="govuk-heading-m">Tips for improving keyboard accessibility</h2>
  <ul class="govuk-list govuk-list--bullet">
    <li>make all interactive elements focusable, use semantic HTML for elements like <code>button</code> and <code>a</code>. For custom components, ensure they are keyboard operable using <code>tabindex</code> and ARIA attributes where necessary.</li>
    <li>ensure a logical focus order, check that the tab order follows the natural flow of the page, avoid disrupting the user’s navigation experience with unexpected jumps.</li>
    <li>provide a visible focus indicator, by using CSS to style the <code>:focus</code> state, visit the <a href="https://design-system.service.gov.uk/get-started/focus-states/" class="govuk-link">GOV.UK design system page on focus states</a> to find out more about implementing focus states.
    </li>
    <li>enable keyboard navigation for complex widgets, components like modals, dropdowns, and carousels should support keyboard actions, such as arrow keys and <code>Escape</code> to close.</li>
  <li>implement skip links on your website, skip links allow users to quickly bypass repeated elements like navigation and go directly to main content on the page</li>
</ul>


  <h2 class="govuk-heading-m">Keyboard commands reference</h2>
  <p class="govuk-body">
    The table following table outlines common keyboard commands that should be supported for accessibility. This is not an exhaustive list.
  </p>

  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Keyboard commands</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Key(s)</th>
        <th scope="col" class="govuk-table__header">Function</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><code>Tab</code></td>
        <td class="govuk-table__cell">Move to the next focusable element</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><code>Shift + Tab</code></td>
        <td class="govuk-table__cell">Move to the previous focusable element</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><code>Enter</code></td>
        <td class="govuk-table__cell">Activate a focused link, button, or other control, select a list item (click function)</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><code>Space</code></td>
        <td class="govuk-table__cell">Open a drop down menu, activate a focused button, check/uncheck a checkbox, page down </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><code>Escape</code></td>
        <td class="govuk-table__cell">Close, menus, or dialogs, cancel/close a prompt/modal</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><code>Arrow Keys</code></td>
        <td class="govuk-table__cell">Navigate within menus, move between list items, tabs, radio buttons, scroll page</td>
      </tr>
	  <tr class="govuk-table__row">
        <td class="govuk-table__cell"><code>Command + L/ Ctrl + L</code></td>
        <td class="govuk-table__cell">Go to address bar</td>
      </tr>
    </tbody>
  </table>

  <h3 class="govuk-heading-s">Windows Keyboard example</h3>
  <img src="{{asset_path}}images/windowskeyboard.png" padding="10px" class="responsive-image" alt="a windows keyboard highlighting keyboard functionality as outlined in the content of this page"> 
  <h3 class="govuk-heading-s">Mac Keyboard example</h3>
  <img src="{{asset_path}}images/mackeyboard.png" padding="10px" class="responsive-image" alt="a windows keyboard highlighting keyboard functionality as outlined in the content of this page"> 
<h2 class="govuk-heading-m">Testing keyboard accessibility</h2>
  <p class="govuk-body">
    You can test your website by unplugging your mouse and navigating entirely with the keyboard. When testing you should check:
  </p>
  <ul class="govuk-list govuk-list--bullet"</ul>
    <li>you can tell where you are on the page</li>
    <li>the order makes sense when tabbing</li>
    <li>nothing unexpected happens when tabbing through a page</li>
    <li>you do not get stuck when navigating through content</li>
    <li>forms are still usable without a mouse</li>
    <li>users can skip to the main content on a page</li>
    <li>content is usable when zoomed in or magnified</li>
    <li>content is usable when you enlarge the text</li>
    <li>how the page behaves when users zoom in</li>
  </ul>

<p class="govuk-body">
The following table provides an overview of essential keyboard interactions to check during testing:
  </p>

  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Keyboard navigation checklist</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Action</th>
        <th scope="col" class="govuk-table__header">Expected behaviour</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Navigate between elements</td>
        <td class="govuk-table__cell">Use <code>Tab</code> to move forward and <code>Shift + Tab</code> to move backward, the focus should move logically through the page.</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Activate links and buttons</td>
        <td class="govuk-table__cell">Press <code>Enter</code> or <code>Space</code> to activate interactive elements</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Use dropdowns or menus</td>
        <td class="govuk-table__cell">Arrow keys move through options, and <code>Enter</code> selects an item.</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Close modals or menus</td>
        <td class="govuk-table__cell">Press <code>Escape</code> to close overlays or modals.</td>
      </tr>
    </tbody>
  </table>

  <h2 class="govuk-heading-m">Keyboard nightmare before Christmas</h2>
  <p class="govuk-body">Try the <a href="https://focus.hteumeuleu.com/" class="govuk-link">HOCUS :FOCUS keyboard accessibility horror game</a> created by <a href="https://mastodon.social/@HTeuMeuLeu" class="govuk-link">@HTeuMeuLeu</a> to </p>
  <img src="{{asset_path}}images/hocusfocus.png" padding="30px" class="responsive-image" alt="screenshot of the hocus focus accessibility horror game which is a square of buttons with halloween icons"> 


  <h2 class="govuk-heading-m">Web accessibility perspectives: keyboard compatibility</h2>
  <p class="govuk-body">Watch the video from WC3 on keyboard compatibility</p>
  <iframe class="video" src="https://www.youtube.com/embed/93UgG72os8M?si=eWnVOuSEsiWk-MSI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  <div class="govuk-inset-text">
    Ensuring full keyboard support makes your site usable for a wider audience and is a key part of ensuring accessibility of a website or service.
  </div>

{% endblock %}

{% block sidebar %}
<aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
  <h2 class="govuk-heading-m" id="subsection-title">Useful links</h2>
  <nav role="navigation" aria-labelledby="subsection-title">
    <ul class="govuk-list govuk-!-font-size-16">
      <li>
        <a href="https://webaim.org/techniques/keyboard/" class="govuk-link">
          WebAIM: Keyboard accessibility
        </a>
      </li>
      <li>
        <a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/Keyboard-navigable_JavaScript_widgets" class="govuk-link">
          MDN: Keyboard navigable JavaScript widgets
        </a>
      </li>
      <li>
        <a href="https://www.w3.org/WAI/WCAG22/Understanding/no-keyboard-trap.html" class="govuk-link">
          W3C - Understanding success criteon 2.1.2 No Keyboard Trap
        </a>
      </li>
    
    </ul>
  </nav>
</aside>
{% endblock %}
