{% extends "/layouts/layout.html" %}

{% block content %}
<main id="main-content" class="govuk-main-wrapper" role="main">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="/index" class="govuk-back-link">Back to calendar</a>

    <h1 class="govuk-heading-xl">Day 23: Why Accessibility Is a Journey</h1>

    <p class="govuk-body">
     Accessibility isn’t a one-time fix but an ongoing effort.
 
Encourage reviewing and improving accessibility regularly.
    </p>

  </div>
</div>

</main>
{% endblock %}
