{% extends "/layouts/_calendar.njk" %}

{% set pageTitle = "Day 3: International Day of Persons with Disabilities" %}
{% block calendar %}

<p class="govuk-body">
  <a href="https://social.desa.un.org/issues/disability/events/2024-international-day-persons-with-disabilities" class="govuk-link">The International Day of Persons with Disabilities (IDPD)</a> is observed annually on 3 December. The theme for this year is "Amplifying the leadership of persons with disabilities for an inclusive and sustainable future." This theme recognises the important role that persons with disabilities play in creating a more inclusive and sustainable world for all. It also emphasises the importance of the participation of persons with disabilities in decision-making processes that affect their lives.
</p>

<h2 class="govuk-heading-m">What is a disability?</h2>

<div class="govuk-inset-text">
  "A person has a disability […] if they have a physical or mental impairment and the impairment has a substantial and long-term adverse effect on their ability to carry out normal day-to-day activities” - Equality Act 2010
</div>

<p class="govuk-body">
  Approximately 1 in 4 people (24%) in the UK have a disability or long-term impairment. These stats do not include unreported disabilities, neurodiversity (such as Autism or ADHD), situational impairments (for example, a new parent holding a baby), or temporary impairments (for example, a person with an arm injury).
</p>

<img src="/assets/images/disabilitytypes.jpg" alt="A line drawing of people to show the difference in types of disability. 
Permanent disability is a person with one arm
Temporary disability is a person with an arm injury and their arm is in a sling
Situational disability is a new parent holding a baby">

<h2 class="govuk-heading-m">Describing disability</h2>

<p class="govuk-body">
  Different models of disability are used by different people. The way people talk about disability depends on their perception of their own experience. This can be deeply personal and may vary, with no universally "right" way to describe or talk about disability.
</p>

<p class="govuk-body">
  When talking about disability, the UK public sector uses the social model of disability, which helps us recognise barriers that make life harder for disabled people. In contrast, the medical model focuses on the disability or impairment itself as the source of barriers.
</p>

<h2 class="govuk-heading-m">The social model of disability</h2>
<p class="govuk-body">Watch the video from Scope on the social model of disability</p>
<iframe class="video" src="https://www.youtube.com/embed/0e24rfTZ2CQ?si=iYW9GPlablFMKpmr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

{% endblock %}

{% block sidebar %}

<aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
  <h2 class="govuk-heading-m" id="subsection-title">
    Useful links
  </h2>
  <nav role="navigation" aria-labelledby="subsection-title">
    <ul class="govuk-list govuk-!-font-size-16">
      <li>
        <a href="https://accessibility.education.gov.uk/app/how-many-people">
          Department for Education - Find out how many people might have a disability or impairment who use your service
        </a>
      </li>
      <li>
        <a href="https://www.gov.uk/government/publications/inclusive-communication/inclusive-language-words-to-use-and-avoid-when-writing-about-disability">
          GOV.UK - Inclusive language: words to use and avoid when talking about disability
        </a>
      </li>
    </ul>
  </nav>
</aside>

{% endblock %}
