{% extends "/layouts/layout.html" %}

{% block content %}
<main id="main-content" class="govuk-main-wrapper" role="main">
  <h1 class="govuk-heading-xl">Day 2: What is WCAG?</h1>
  <p class="govuk-body">
    The Web Content Accessibility Guidelines (WCAG) 2.1 explain how to make websites accessible for disabled and older people. The guidelines are written by accessibility specialists, volunteers and disabled people at the World Wide Web Consortium W3C.

Due to the rapidly changing technology landscape WCAG 2.1 was designed to better meet the needs of three major groups: mobile users, users with low vision, and users with cognitive or learning disabilities.
 
 <h2 class="govuk-heading-m">How does WCAG help?</h2>
<p>WCAG 2.1 helps make websites, documents and mobile apps accessible to people with:</p>
 <ul class="govuk-list govuk-list--bullet">
<li>Visual impairments, including people who are blind, partially sighted, and people with conditions like being colour blind</li>
<li>Hearing impairments, including Deaf people who use sign language, and people who are hard of hearing</li>
<li>Mobility impairments, including people with restricted movement that stops them using a mouse or keyboard, and people who find it difficult to control a mouse</li>
<li>Cognitive impairments, including people who are Dyslexic, on the Autistic Spectrum, and people who have learning difficulties</li>
</ul>
<p>WCAG 2.2 also helps us think about the different ways people use the web:</p>
 <ul class="govuk-list govuk-list--bullet">
<li>By changing the way a website looks in their browser</li>
<li>By using a keyboard instead of a mouse</li>
<li>By using a screen reader to navigate and present the website content as speech or on an electronic Braille display</li>
<li>By using a screen magnifier to increase the size of everything on-screen</li>
<li>By using speech recognition to use the web with voice commands and dictation</li>
</ul>


  <nav aria-label="Page navigation">
    <ul class="govuk-pagination">
      <li class="govuk-pagination__item">
        <a href="/index" class="govuk-link">Back to Calendar</a>
      </li>
      <li class="govuk-pagination__item govuk-pagination__item--next">
        <a href="/day-2" class="govuk-link">Next: Day 2 →</a>
      </li>
    </ul>
  </nav>
</main>
{% endblock %}
