{% extends "/layouts/layout.html" %}

{% block content %}
<main id="main-content" class="govuk-main-wrapper" role="main">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="/index" class="govuk-back-link">Back to calendar</a>

    <h1 class="govuk-heading-xl">Day 7: The Power of Proper Headings</h1>

    <p class="govuk-body">
      Headings create a clear structure for all users, especially screen reader users.
 
Share tips on using headings to break up content logically.
    </p>

  </div>
</div>

</main>
{% endblock %}
