{% extends "/layouts/_calendar.njk" %}

{% set pageTitle = "Day 25: Reflecting on Accessibility" %}

{% block calendar %}
<p class="govuk-body">
  You made it to the final day of the digital accessibility advent calendar, let's take a moment to reflect on the journey we've shared. Over the past 25 days, we’ve explored the importance of digital accessibility — ensuring everyone can enjoy and navigate online content.
</p>
<p class="govuk-body">
  Inclusive digital design isn't just a requirement; it’s an opportunity to improve user experience for all. We’ve learned that small changes can make a big difference. By focusing on accessibility, we ensure that digital spaces are welcoming, usable, and effective for everyone.
</p>
<img src="{{asset_path}}images/christmastreeelf.png" padding="10px" class="responsive-image" alt="some elfs are decorating a Christmas tree">
<h2 class="govuk-heading-m">What we've learned</h2>
<ul class="govuk-list govuk-list--bullet">
  <li><strong>accessibility benefits everyone:</strong> making websites accessible not only helps disabled people but improves usability for all users.</li>
  <li><strong>testing is key:</strong> conducting usability testing with diverse user groups is essential for identifying and solving accessibility issues.</li>
  <li><strong>small changes make a big difference:</strong> simple things, like adding alt text or improving colour contrast, can significantly improve accessibility.</li>
</ul> 
<p class="govuk-body">
  Use the <a href="/sitemap" class="govuk-link">sitemap page </a> to view all the content in this calendar.</p>

<h2 class="govuk-heading-m">Looking ahead</h2>
<p class="govuk-body">
  While this advent calendar ends today, our journey towards digital accessibility doesn’t stop here. We encourage you to keep exploring, sharing this content, learning, and implementing accessibility best practices in your projects. The more we all commit to accessibility, the more inclusive the web will become.
</p>

<img src="{{asset_path}}images/merrychristmas.png" padding="10px" class="responsive-image" alt="two people sharing presents. The image reads Merry Christmas in festive lettering.">
<p class="govuk-body">
  Thank you for celebrating accessibility with us. Let’s continue to make the digital world a better place for everyone in the year ahead.
</p>
<p class="govuk-body">
  Have a wonderful time over the holidays and festive period and a Merry Christmas to all who celebrate!
</p>

{% endblock %}

{%  block sidebar %}

<aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
  <h2 class="govuk-heading-m" id="subsection-title">
   Useful links
  </h2>
    <ul class="govuk-list govuk-!-font-size-16">
        <ul class="govuk-list govuk-list--bullet">
           <li>
        <a href="/sitemap">
       Sitemap and list of all the content
        </a>
	      </li>
            
          </ul>
      
</aside>

{% endblock %}