{% extends "/layouts/_calendar.njk" %}

{% set pageTitle= "Day 3: International day of Persons with Disabilities" %}
{% block calendar %}

    <p class="govuk-body">
     <a href="https://social.desa.un.org/issues/disability/events/2024-international-day-persons-with-disabilities" class="govuk-link">The International Day of Persons with Disabilities (IDPD)</a> is observed annually on December 3rd. The theme for this year is "Amplifying the leadership of persons with disabilities for an inclusive and sustainable future." This theme recognises the important role that persons with disabilities play in creating a more inclusive and sustainable world for all. It also emphasises the importance of the participation of persons with disabilities in decision-making processes that affect their lives.
    </p>
{% endblock %}
{%  block sidebar %}

<aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
  <h2 class="govuk-heading-m" id="subsection-title">
    Useful links 
  </h2>
  <nav role="navigation" aria-labelledby="subsection-title">
    <ul class="govuk-list govuk-!-font-size-16">
      <li>
        <a href="https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps">
          Understanding accessibility requirements for public sector bodies
        </a>
      </li>
                  </ul>
  </nav>
</aside>

{% endblock %}