{% extends "/layouts/_calendar.njk" %}

{% set pageTitle = "Day 9: Design for people with dyscalculia" %}

{% block calendar %}

  <p class="govuk-body">
    Today, <a href="https://www.linkedin.com/in/lauramarieparker/" "class=govuk-link">Laura Parker</a>, senior content designer and dyscalculic, breaks down what dyscalculia is and why we should present numbers clearly.
  </p>

  <h2 class="govuk-heading-m">What is dyscalculia?</h2>
  <p class="govuk-body">
    Dyscalculia (dis - cal - cool - lia) is a specific and persistent difficulty in understanding numbers.
  </p>

  <p class="govuk-body">
    It makes reading, understanding, and working with numbers hard. It impacts the ability to handle money, like counting change, telling and managing time, estimating how long things take, understanding percentages, and remembering number facts.
  </p>

  <p class="govuk-body">
    Dyscalculia also affects someone’s working memory. It impacts everyday things like remembering items on a shopping list, following instructions, phone numbers, PINs or game scores.
  </p>
  <img src="{{asset_path}}images/dyscalculia.png" padding="10px" class="responsive-image" alt="A mind map style guide showing the different indicators of dyscalculia. What are the indicators of Dyscalculia
  Poor memory for facts and procedures
  Poor number sense
  An inability to estimate whether a numerical answer is reasonable
  Inability to generalise
  Problems with all aspects of money
  Inability to notice patterns
  Weakness in both short-term and long-term memory
  Difficulty with language
  Weak strategies: for example, counting in 1s or counting all instead of counting on
  An inability to count backwards reliably
  Difficulties in word problems and multi-step calculations
  Directional confusion
  Difficulties with learning to tell the time and understanding time
  Weakness in visual and spatial orientation
  Difficulty sequencing
  An inability to subitise even very small quantities
  Slow processing speed
  ">
  <p class="govuk-body">Image from the Dyscalculia Network.</p>
  
  <p class="govuk-body">
  <h2 class="govuk-heading-m">Dyscalculia in numbers</h2>
  <p class="govuk-body">
    It’s estimated that 4 million people in the UK (6% of the population) are dyscalculic (Dyscalculia Network). To compare, about 4 million people in the UK have a food allergy (Food Standards Agency).
  </p>

  <p class="govuk-body">
    We can’t be sure because dyscalculia is under diagnosed and research about dyscalculia is decades behind dyslexia (National Numeracy).
  </p>

  <p class="govuk-body">
    Dyscalculia can occur on its own or it can co-occur with something else. 20% to 60% of dyscalculics might also have dyslexia, dyspraxia, autism or ADHD (Dyscalculia Network).
  </p>

  <p class="govuk-body">
    You don’t have to be dyscalculic to struggle with numbers. The charity, National Numeracy, estimates that nearly half of UK adults struggle with numbers in some way.
  </p>

  <p class="govuk-body">
    Nearly 11 million UK adults have low financial resilience (Financial Conduct Authority) and millions of adults lack basic numeracy skills, leaving them unprepared for the workplace and everyday life (YouGov).
  </p>

  <h2 class="govuk-heading-m">Dyscalculia accessibility poster</h2>
  <p class="govuk-body">
    In 2022, I worked with 2 amazing content designers (<a href="https://www.linkedin.com/in/jane-mcfadyen-9310b677/" class="govuk-link">Jane McFadyen</a> and <a href="https://www.linkedin.com/in/rachel-malic-54747851/" class="govuk-link">Rachel Malic</a>) to produce a poster about designing for people with dyscalculia or low numeracy.
  </p>
  <img src="{{asset_path}}images/dyscalculiaposter.jpg" padding="10px" class="responsive-image" alt="The designing for users with dyscalculia or low numeracy poster">
  <p class="govuk-body"><strong>Do...</strong></p>
  <ul class="govuk-list govuk-list--bullet">
 <li>round numbers up to the nearest whole number</li>
 <li>leave space around numbers</li>
 <li>fill in the information you already have</li>
 <li>use sentences to add context about numbers</li>
 <li>let people include spaces when entering numbers</li>
 <li>user research with people who struggle with numbers</li>
 </ul>
 <p class="govuk-body"><strong>Do not...</strong></p>
  <ul class="govuk-list govuk-list--bullet">
 <li>use decimals unless it's money</li>
 <li>overwhelm people with too much content</li>
 <li>expect users to repeat or remember numbers</li>
 <li>use tables or grids without explaining what the numbers mean</li>
 <li>rush users to enter numbers accurately</li>
 <li>force people to enter a number or do a sum to verify themselves</li>
 </ul>
  <p class="govuk-body">
    We consulted with the Civil Service Dyslexia and Dyspraxia network, The Dyscalculia Network, National Numeracy, Plain Numbers and a focus group of people with lived experience.
  </p>

  <p class="govuk-body">
    The poster is available on the <a href="https://accessibility-manual.dwp.gov.uk/tools-and-resources/accessibility-posters" class="govuk-link">DWP accessibility manual</a>. You can read more about the poster on the <a href="https://designnotes.blog.gov.uk/2022/11/28/designing-for-people-with-dyscalculia-and-low-numeracy/" class="govuk-link">Design in government blog </a>(it was the most read post of 2022). Please share and add to your notice boards.
  </p>

  <h2 class="govuk-heading-m">Accessible Numbers</h2>
  <p class="govuk-body">
    <a href="https://accessiblenumbers.com/" class="govuk-link">Accessible Numbers</a> is a campaign I set up using the research from the dyscalculia poster and other things I've discovered since then. The campaign has informed the NHS service manual and the GOV.UK design system plus Monzo and Lloyds bank.
  </p>

  <p class="govuk-body">
    I've just launched a podcast, and the first episode is out soon. You can subscribe to the accessible numbers podcast on <a href="https://open.spotify.com/show/5KZTqReym0DUea6hqX94pn?si=ca20307782684664&nd=1&dlsi=65aaec82efb64fa4" class="govuk-link">Spotify</a>, <a href="https://podcasts.apple.com/us/podcast/accessible-numbers/id1783956093" class="govuk-link">Apple</a> and <a href="https://music.amazon.co.uk/podcasts/8c64491f-cd7e-4037-af9f-25e725c61f84/accessible-numbers" class="govuk-link">Amazon</a>. Coming soon to YouTube.
  </p>

  <h2 class="govuk-heading-m">Useful videos about dyscalcylia</h2>
  <p class="govuk-body">Watch the video from Understood - what is dyscalculia.</a>
      <iframe class="video" src="https://www.youtube.com/embed/IezO567SKNM?si=ECPWaXVk29uwwC0w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p class="govuk-body">Watch the facts and myths about dyscalculia video from the Centre for Educational Neuroscience.</a>
        <iframe class="video" src="https://www.youtube.com/embed/02MB3zI5iNI?si=a7F8NmWA7BwmHpxz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
{% endblock %}

{% block sidebar %}
<aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
  <h2 class="govuk-heading-m" id="subsection-title">Useful links</h2>
  <nav role="navigation" aria-labelledby="subsection-title">
    <ul class="govuk-list govuk-!-font-size-16">
      <li>
        <a href="https://www.gov.uk/accessibility" class="govuk-link">
          GOV.UK: Accessibility
        </a>
      </li>
      <li>
        <a href="https://www.dyscalculianetwork.org.uk/" class="govuk-link">
          The Dyscalculia Network
        </a>
      </li>
      <li>
        <a href="https://www.nationalnumeracy.org.uk/" class="govuk-link">
          National numeracy
        </a>
      </li>
      <li>
        <a href="https://www.plainnumbers.org/" class="govuk-link">
          Plain Numbers in practice report
        </a>
      </li>
      <li>
        <a href="https://www.plainnumbers.org/" class="govuk-link">
          Plain Numbers in practice report
        </a>
      </li>
    </ul>
  </nav>
</aside>
{% endblock %}
