{% extends "/layouts/_calendar.njk" %}

{% set pageTitle= "Day 1: What is Digital Accessibility?" %}
{% block calendar %}

    <p class="govuk-body">
      Digital accessibility or web accessibility is about making sure everyone can access websites and digital services - people on different devices, in different environments and with different abilities.
      This includes people who rely on assistive technologies, such as screen readers, screen magnifiers, or voice input software.
    </p>

    <h2 class="govuk-heading-m">Why does it matter?</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>Accessibility ensures equitable access to information, products, and services for all users, if a website, app or service isn't accessible then it means some people can't use it.</li>
      <li>There are legal requirements under the Equality Act 2010 and the Public Sector Bodies Accessibility Regulations 2018 to make sure websites and services are accessible to all.</li>
      <li>The <a href="https://www.gov.uk/service-manual/service-standard" class="govuk-link">GOV.UK Service Standard</a>, prioitises accessible service design which means that government services must be accessible before they go live online.</li>
    </ul>

    <h2 class="govuk-heading-m">Who benefits from accessibility?</h2>

    <p class="govuk-body">
      <strong>Everyone benefits from accessibility</strong> but it is particularly important for:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>people with visual impairments, including blindness, partial sight, or colour blindness.</li>
      <li>people with hearing impairments, including Deaf people who rely on sign language.</li>
      <li>people with mobility impairments who cannot use a mouse or keyboard.</li>
      <li>people with cognitive impairments, such as dyslexia, dyscalculia, or neurodivergence.</li>
    </ul>

    <h2 class="govuk-heading-m">How do people access websites and services?</h2>
<p class="govuk-body">People access websites, services and mobile applications in a number of different ways, including:</p>
    <ul class="govuk-list govuk-list--bullet">
       <li>by using a mobile or tablet to access the internet or use apps.</li>  
        <li>using a desktop or laptop computer.</li>
        <li>by customising browser settings to change how a website looks.</li>
      <li>using screen readers to convert text into speech or Braille.</li>
      <li>using screen magnifiers to enlarge text and graphics.</li>
      <li>relying on speech recognition to control devices and dictate text.</li>
        <li>using different input devices such as a mouse, keyboard, sip and puff devices or other input devices</li>

    </ul>

    <div class="govuk-inset-text">
      Accessibility is not optional—it’s essential. Build services that work for <strong>everyone</strong>.
	    </div>

      <h2 class="govuk-heading-m">Web Accessibility Perspectives - Compilation of 10 Topics/Videos</h2>
      <p class="govuk-body">Watch the video from WC3 "Web Accessibility: Essential for some, useful for all" to learn about the impact of accessibility and the benefits for everyone in a variety of situations.</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/3f31oufqFSM?si=BzQas9XuFqeaJpi7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

{% endblock %}


{%  block sidebar %}

<aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
  <h2 class="govuk-heading-m" id="subsection-title">
    Useful links 
  </h2>
  <nav role="navigation" aria-labelledby="subsection-title">
    <ul class="govuk-list govuk-!-font-size-16">
      <li>
        <a href="https://abilitynet.org.uk/accessibility-services/useful-resources">AbilityNet - Free digital accessibility resources</a>
      </li>
      <li>
        <a href="https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps">
          Understanding accessibility requirements for public sector bodies
        </a>
      </li>
                  </ul>
  </nav>
</aside>

{% endblock %}
