{% extends "/layouts/_calendar.njk" %}

{% set pageTitle = "Day 14: Speech recognition tools" %}

{% block calendar %}

  <p class="govuk-body">
    Speech recognition tools are assistive technologies that allow users to dictate text, navigate applications, and control devices using their voice. These tools are especially valuable for improving accessibility and reducing reliance on other types of input methods like a keyboard or mouse.
  </p>

  <p class="govuk-body">
    One of the most well-known speech recognition tools is Dragon. Today, <a href="mailto:polly.dyson@faststream.civilservice.gov.uk" class="govuk-link">Polly Dyson</a> gives an overview of what it does.
  </p>

  <h2 class="govuk-heading-m">What is Dragon and how does it work?</h2>
  <p class="govuk-body">
    Dragon is assistive technology that allows users to dictate text, for example into documents, and use your voice to navigate around and between applications on your computer.
  </p>
  <p class="govuk-body">
    Dragon works best:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>in a quiet, distraction-free space</li>
    <li>with Microsoft applications (though not all are fully compatible)</li>
    <li>when users are trained and practiced in its features</li>
  </ul>

  <h2 class="govuk-heading-m">Who benefits from speech recognition tools?</h2>
  <p class="govuk-body">
    Speech recognition benefits people with different types of disabilities, who want to avoid using, or can’t use a mouse and keyboard. Typically, this includes:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>people with musculoskeletal conditions like arthritis or hypermobility</li>
    <li>people with dyslexia or other difficulties with typing</li>
    <li>anyone looking to reduce strain from repetitive keyboard and mouse use</li>
    <li>people who multitask or need hands-free interaction</li>
  </ul>
    <h2 class="govuk-heading-m">What other benefits does speech recognition have?</h2>
  <p class="govuk-body">
    Dragon, and other types of speech recognition also type instantaneously, which is much faster than manual typing.
  </p>
  <p class="govuk-body">
    You can also automate a lot of processes using Dragon, which could make administrative work much faster for a Dragon user, particularly for repetitive tasks. With proper training, users can streamline their workflows and improve efficiency, whether at work or in daily life.
  </p>

 <h2 class="govuk-heading-m">Web accessibility perspectives - voice recognition</h2>
 <p class="govuk-body">Watch the video from WebAIM on voice recognition</p>
 <iframe width="560" height="315" src="https://www.youtube.com/embed/7RHG_XiQ0ck?si=TIzPD7YiQiCAVY8g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

  <h2 class="govuk-heading-m">The importance of training</h2>
  <p class="govuk-body">
    Similar to learning a new language, Dragon skills improve with experience and practice. But unlike learning a language, Dragon users tend to only get one round of training, when they first get the software.
  </p>
  <p class="govuk-body">
    As with any assistive technology, training is key to getting the most out of speech recognition tools. People who use Dragon in a work environment should receive sufficient training if their job, tasks, or software setup changes, so they know how to use Dragon with anything new.
  </p>
  <p class="govuk-body">
    Think of it this way: you wouldn’t expect a train driver to operate a bus without proper training. Speech recognition tools are no different—they require learning and practice to unlock their full potential.
  </p>

  <h2 class="govuk-heading-m">Building a supportive community</h2>
  <p class="govuk-body">
    A bunch of us meet online every few weeks to swap tips and support each other. If you use Dragon and would like to join us, please email <a href="mailto:polly.dyson@faststream.civilservice.gov.uk" class="govuk-link">Polly Dyson</a>.
  </p>
  <p class="govuk-body">
    Polly is also trialling drop-in sessions for line managers of Dragon users. These will be promoted through <a href="https://app.slack.com/client/T04V6EBTR/C28AJTE07">cross government Slack #accessibility channel and the civil service disability network.</a>
  </p>

  <h2 class="govuk-heading-m">Other popular speech recognition tools</h2>
  <p class="govuk-body">
    While Dragon is a leading tool, there are other speech recognition technologies that cater to different needs and are available on different devices:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      <strong><a href="https://support.microsoft.com/en-gb/windows/use-voice-recognition-in-windows-83ff75bd-63eb-0b6c-18d4-6fae94050571" class="govuk-link">Microsoft Speech Recognition</a></strong>: A free tool built into Windows that allows for dictation and basic voice commands.
    </li>
        <li>
      <strong><a href="https://support.apple.com/en-gb/102225" class="govuk-link">Mac Voice Control</a></strong>: with Voice Control, you can navigate and interact with your Mac using only your voice instead of a traditional input device.
    </li>
    <li>
        <strong><a href="https://support.apple.com/en-gb/111778" class="govuk-link">Apple iOS Voice control</a></strong>: With Voice Control, you can navigate and interact with your device using your voice to tap, swipe, type and more.
      </li>
      <li>
        <strong><a href="https://support.google.com/accessibility/android/answer/6151848?hl=en-GB" class="govuk-link">Andoid Voice Access</a></strong>: The Voice Access app for Android lets you control your device with spoken commands. Use your voice to open apps, navigate and edit text hands-free.
      </li>
    <li>
      <strong><a href="https://www.apple.com/siri/" class="govuk-link">Apple Siri</a></strong>: Built into Apple devices, Siri helps users send messages, set reminders, and control their devices hands-free.
    </li>
    <li>
      <strong><a href="https://assistant.google.com/" class="govuk-link">Google Assistant</a></strong>: Available on Android devices and smart home products, it offers voice-controlled functionality and integration with Google apps.
    </li>
      </ul>
  
    
 <h2 class="govuk-heading-m">What if Santa used Dragon Speech recognition?</h2>
 <p class="govuk-body">Watch the video from VoicePower to find out how Santa would use voice recognition</p>
 <iframe class="video" src="https://www.youtube.com/embed/pZJQrj7Uj3M?si=ejneRKNrQJq8ftPL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  
 
  <div class="govuk-inset-text">
    By combining these tools with the right support, we can create more accessible and inclusive environments for everyone.
  </div>

{% endblock %}
{% block sidebar %}
<aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
  <h2 class="govuk-heading-m" id="subsection-title">Useful links</h2>
  <nav role="navigation" aria-labelledby="subsection-title">
    <ul class="govuk-list govuk-!-font-size-16">
      <li>
        <a href="https://webaim.org/blog/at-experiment-dragon/" class="govuk-link">
         WebAIM - asssistive technology experiment: Dragon NaturallySpeaking
        </a>
      </li>
      <li>
        <a href="https://www.gov.uk/service-manual/technology/testing-with-assistive-technologies" class="govuk-link">
          GOV.UK - testing with assistive technolgies
        </a>
      </li>
      <li>
        <a href="https://www.nuance.com/dragon/user-documentation.html" class="govuk-link">
          Nuance - user guides for Dragon
        </a>
      </li>
    </ul>
  </nav>
</aside>
{% endblock %}