{% extends "/layouts/_calendar.njk" %}

{% set pageTitle = "Day 9: Design for people with dyscalculia" %}

{% block calendar %}

  <p class="govuk-body">
    Today, <a href="https://www.linkedin.com/in/lauramarieparker/" "class=govuk-link">Laura Parker</a>, senior content designer and dyscalculic, breaks down what dyscalculia is and why we should present numbers clearly.
  </p>

  <h2 class="govuk-heading-m">What is dyscalculia?</h2>
  <p class="govuk-body">
    Dyscalculia (dis - cal - cool - lia) is a specific and persistent difficulty in understanding numbers.
  </p>

  <p class="govuk-body">
    It makes reading, understanding, and working with numbers hard. It impacts the ability to handle money, like counting change, telling and managing time, estimating how long things take, understanding percentages, and remembering number facts.
  </p>

  <p class="govuk-body">
    Dyscalculia also affects someone’s working memory. It impacts everyday things like remembering items on a shopping list, following instructions, phone numbers, PINs or game scores.
  </p>

  <h2 class="govuk-heading-m">Dyscalculia in numbers</h2>
  <p class="govuk-body">
    It’s estimated that 4 million people in the UK (6% of the population) are dyscalculic (Dyscalculia Network). To compare, about 4 million people in the UK have a food allergy (Food Standards Agency).
  </p>

  <p class="govuk-body">
    We can’t be sure because dyscalculia is under diagnosed and research about dyscalculia is decades behind dyslexia (National Numeracy).
  </p>

  <p class="govuk-body">
    Dyscalculia can occur on its own or it can co-occur with something else. 20% to 60% of dyscalculics might also have dyslexia, dyspraxia, autism or ADHD (Dyscalculia Network).
  </p>

  <p class="govuk-body">
    You don’t have to be dyscalculic to struggle with numbers. The charity, National Numeracy, estimates that nearly half of UK adults struggle with numbers in some way.
  </p>

  <p class="govuk-body">
    Nearly 11 million UK adults have low financial resilience (Financial Conduct Authority) and millions of adults lack basic numeracy skills, leaving them unprepared for the workplace and everyday life (YouGov).
  </p>

  <h2 class="govuk-heading-m">Dyscalculia accessibility poster</h2>
  <p class="govuk-body">
    In 2022, I worked with 2 amazing content designers (<a href="https://www.linkedin.com/in/jane-mcfadyen-9310b677/" class="govuk-link">Jane McFadyen</a> and <a href="https://www.linkedin.com/in/rachel-malic-54747851/" class="govuk-link">Rachel Malic</a>) to produce a poster about designing for people with dyscalculia or low numeracy.
  </p>

  <p class="govuk-body">
    We consulted with the Civil Service Dyslexia and Dyspraxia network, The Dyscalculia Network, National Numeracy, Plain Numbers and a focus group of people with lived experience.
  </p>

  <p class="govuk-body">
    The poster is available on the <a href="https://accessibility-manual.dwp.gov.uk/tools-and-resources/accessibility-posters" class="govuk-link">DWP accessibility manual</a>. You can read more about the poster on the <a href="https://designnotes.blog.gov.uk/2022/11/28/designing-for-people-with-dyscalculia-and-low-numeracy/" class="govuk-link">Design in government blog </a>(it was the most read post of 2022). Please share and add to your notice boards.
  </p>

  <h2 class="govuk-heading-m">Accessible Numbers</h2>
  <p class="govuk-body">
    <a href="https://accessiblenumbers.com/" class="govuk-link">Accessible Numbers</a> is a campaign I set up using the research from the dyscalculia poster and other things I've discovered since then. The campaign has informed the NHS service manual and the GOV.UK design system plus Monzo and Lloyds bank.
  </p>

  <p class="govuk-body">
    I've just launched a podcast, and the first episode is out soon. You can subscribe to the accessible numbers podcast on Spotify, Apple and Amazon. Coming soon to YouTube.
  </p>

  <h2 class="govuk-heading-m">Facts and myths about dyscalculia</h2>
  <p class="govuk-body">Watch the myths and facts about dyscalculia video from the Centre for Educational Neuroscience</a>
  
  
  

{% endblock %}

{% block sidebar %}
<aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
  <h2 class="govuk-heading-m" id="subsection-title">Useful links</h2>
  <nav role="navigation" aria-labelledby="subsection-title">
    <ul class="govuk-list govuk-!-font-size-16">
      <li>
        <a href="https://www.gov.uk/accessibility" class="govuk-link">
          GOV.UK: Accessibility
        </a>
      </li>
      <li>
        <a href="https://www.dyscalculianetwork.org.uk/" class="govuk-link">
          The Dyscalculia Network
        </a>
      </li>
      <li>
        <a href="https://www.nationalnumeracy.org.uk/" class="govuk-link">
          National Numeracy
        </a>
      </li>
      <li>
        <a href="https://www.plainnumbers.org/" class="govuk-link">
          Plain Numbers in practice report
        </a>
      </li>
    </ul>
  </nav>
</aside>
{% endblock %}
