<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Accessibility Advent Calendar{% endblock %}</title>

  <!-- GOV.UK styles -->
  <link rel="stylesheet" href="/public/stylesheets/application.css">

  <!-- Custom styles -->
  <!-- <link rel="stylesheet" href="/public/stylesheets/custom.css"> -->


  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
</head>

<body>
  <header class="govuk-header" role="banner">
  <div class="govuk-width-container">
    <div class="govuk-header__container">
      <h1 class="govuk-header__logo">
        <a href="/" class="govuk-header__link">{{serviceName}}</a>
      </h1>
    </div>
	</div>
  </header>

  <div class="govuk-width-container app-width-container">
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-tag--green govuk-phase-banner__content__tag">
        Training
      </strong>
      <span class="govuk-phase-banner__text">
        This is a not a real service, this is for training purposes only. You can <a class="govuk-link" href="mailto:lorithomson@hotmail.co.uk">give your feedback on this resource by email</a>.
      </span>
    </p>
  </div>
  {% if not hideBack %}<a href="/" class="govuk-back-link">Back to calendar</a>{% endif %}
</div>

  <main class="govuk-main-wrapper" id="main-content" role="main">
   <div class="govuk-width-container">

    {% block content %}
    {% endblock %}
	</div>
  </main>

  <footer class="govuk-footer" role="contentinfo">
  <div class="govuk-width-container">
    <div class="govuk-footer__container">
      <p class="govuk-footer__text">

		This is not a real government service - it's for training purposes.
		  <p class="govuk-footer__text">
        Built using the <a href="https://prototype-kit.service.gov.uk/" class="govuk-link">GOV.UK Prototype Kit</a>.
		      </p>
			  <p>To contribute <a href="https://github.com/Lori-T/accessibility-advent-calendar.git" class="govuk-link">visit the GitHub repo.</a>
    </div>
	</div>
  </footer>
</body>
</html>
